<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<center>
     <h1>LOGIN</h1>
{% if form.errors %}
    <p>Username or Password is wrong </p>
{% endif %}
<form method="POST" action="">
    {% csrf_token %}
    <p>Username: </p><br>
    <input type="text" name="username"><br>
    <p>Password</p>
    <input type="password"  name="password"><br>
    <input type="submit"><br><br>
    <a href="{% url 'password_reset' %}">Forgot Password</a><br><br>
    <p>Don't have an account?</p>
    <a href="{%url 'signup' %}">signup</a>
</form>
</center>
   </body>
</html>


