<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>confirmation</title>
</head>
<body>

{% if validlink %}
<form method="POST" action="">
    {% csrf_token %}
    {{ form.password1.errors }}
    <p>Type new password
        <input type="password" name="new_password1"></p>
    {{ form.password1.errors }}
    <p>Confirm new password
        <input type="password" name="new_password2"></p>
    <input type="submit">
</form>
{% else %}
    <p>Not a valid Link</p>
{% endif %}
</body>
</html>